body {
	background-color: none;
	margin: max-width: 960px;
	border: 1px solid black;
}

.title {
	background-color: #cc0000;
	color: #fff;
	padding: 13px;
	border-radius: 50%;
	margin-top: 10px;
}

.border {
	margin-left: 5px;
	margin-top: 25px;
	margin-right: 300px;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	margin-left: 40px;
	color: #cc0000;
}

#layout {
	display: flex;
	border-top: 10px solid #ff3300;
}

nav ul {
	display: flex:
	justify-content: space-around;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
}

nav a {
	text-decoration: none;
	color: #cc0000;
}

nav a:hover {
	background-color: #cc0000;
	color: #fff;
	text-decoration: none;
	padding: 7px;
	border-radius: 12px;
}

.position {
	display: flex;
	flex-direction: row;
	margin-top: 70px;
	margin-right: 310px;
}

div a {
	margin-top: 68px;
}

li {
	margin-right: 30px;
}

.fa-facebook {
	background-color: #fff;
  	color: #cc0000;
	font-size: 20px;
	padding: 8px;
	border-radius: 15%;
	text-decoration: none;
}

.fa-facebook:hover {
	background-color: #cc0000;
	color: #fff;
	text-decoration: none;
}

.fa-twitter {
	background-color: #fff;
	color: #cc0000;
	font-size: 20px;
	padding: 8px;
	border-radius: 50%;
	text-decoration: none;
}

.fa-twitter:hover {
	background-color: #cc0000;
	color: #fff;
	text-decoration: none;
}

/*About me*/

.container {
	display: flex;
	justify-content: center;
	border: 5px solid #cc0000;
	border-radius: 15PX;	
	margin-bottom: 35px;
	margin-top: 35px;

}
	
ul {
	list-style-type: none;
}

.row li {
	font-size: 25px;
	width: 300px;
	height: 200px;
	margin-top: 42px;
	margin-bottom: 35px;
	text-align: center;
	border-radius: 10px;
	color: white;

}

h2 {
	font-family: 'Anton', sans-serif;
	margin-top: 15px;
	margin-left: 40px;
	color: #cc0000;
}

article p {
	font-family: 'Cairo', sans-serif;
	text-align: center;
	font-size: 17px;
	margin: 0px 148px 0px 148px;
}

#gym-pic {
	background-image: url("../Images/gym-pic.jpg");
	max-width: 300px;
}

#personal-pic {
	background-image: url("../Images/personal-pic.jpg");
	max-width: 300px;
}

#boxing-pic {
	background-image: url("../Images/boxing-pic.jpg");
	max-width: 300px;
}

#classes-pic {
	background-image: url("../Images/classes-pic.jpg");
	max-width: 300px;
}

#cardio-pic {
	background-image: url("../Images/cardio-pic.jpg");
	max-width: 300px;
}

#coffee-pic {
	background-image: url("../Images/coffee-shop.jpg");
	max-width: 300px;
}

footer {
	background-image: linear-gradient(0deg, #ff3300, #ffe6e6);
	margin-top: 50px;
	height: 400px;
}