body {
	background-color: none;
	margin: max-width: 960px;
	border: 1px solid black;
}

#layout {
	display: flex;
	justify-content: space-between;
}
nav ul {
	list-style: none;
	display: flex:
	justify-content: space-around;
}

nav a {
	text-decoration: none;
}

.position {
	display: flex;
	flex-direction: row;
}

li {
	margin-right: 20px;
}