body {
	background-color: none;
	margin: max-width: 960px;
	border: 1px solid black;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	margin-left: 40px;
	color: #cc0000;
}
#layout {
	display: flex;
	justify-content: space-between;
	border-top: 10px solid #ff3300;
	margin-top: 20px;
}

nav ul {
	display: flex:
	justify-content: space-around;
	font-family: 'Anton', sans-serif;
}

nav a {
	text-decoration: none;
}

.position {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	margin-right: 80px;
}

div a {
	margin-top: 30px;
}

li {
	margin-right: 20px;
}

.fa-facebook {
	background: #cc0000;
  	color: #ff9999;
	font-size: 20px;
	padding: 8px;
	border-radius: 15%;
	text-decoration: none;
}

.fa-twitter {
	background: #cc0000;
	color: #ff9999;
	font-size: 20px;
	padding: 8px;
	border-radius: 50%;
	text-decoration: none;
}

/*About me*/

.container {
	display: flex;
	justify-content: center;
	margin-left: 50px;
	margin-right: 5px;
}
	
ul {
	list-style-type: none;
}

.row li {
	font-size: 25px;
	width: 300px;
	height: 200px;
	margin-top: 8px;
	text-align: center;
	border-radius: 10px;
	color: white;

}

#gym-pic {
	background-image: url("../Images/gym-pic.jpg");
}

#personal-pic {
	background-image: url("../Images/personal-pic.jpg");
}

#boxing-pic {
	background-image: url("../Images/boxing-pic.jpg");
}

#classes-pic {
	background-image: url("../Images/classes-pic.jpg");
}

#cardio-pic {
	background-image: url("../Images/cardio-pic.jpg");
}

#coffee-pic {
	background-image: url("../Images/coffee-shop.jpg");
}

footer {
	background-color: #ff3300;
	height: 400px;
}