body {
	background-color: none;
	margin: max-width: 960px;
	border: 1px solid black;
}

#layout {
	display: flex;
	justify-content: space-between;
}
nav ul {
	list-style: none;
	display: flex:
	justify-content: space-around;
}

nav a {
	text-decoration: none;
}

.position {
	display: flex;
	flex-direction: row;
}

li {
	margin-right: 20px;
}

.fa-facebook {
	background: #3B5998;
  	color: white;
	font-size: 20px;
	padding: 8px;
	border-radius: 15%;
	text-decoration: none;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
	font-size: 20px;
	padding: 8px;
	border-radius: 50%;
	text-decoration: none;
}

/*About me*/

.boxes {
	list-style-type: none;
	display: flex;
	justify-content: center;
	
}